# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Vim
*.sw*

# Command E mod: commit lib to host built version on GitHub
# lib
.DS_Store
.nvmrc